<div class="container">
  <div class="links">
    <img
      class="profile"
      src="https://avatars.githubusercontent.com/u/73884586?v=4"
    />
  </div>
  <div class="rechts">
    <h1>Robert Spee</h1>
    <h2>Software developer</h2>
    <p>
      studeerde Technische informatica aan TU/e<br />
      18 jaar software developer, waarvan 4,5 jaar bij Topicus Zorg aan software voor bevolkingsonderzoeken naar kanker <br/>
      Woont in Deventer | Speelt saxofoon en wandelt graag
    </p>
  </div>
  <div class="clearfix"></div>
</div>
